{% extends 'base.html' %}
{% block title %}about | {% endblock title %}about

{% block about %}home | {% endblock about %}home

{% block body %}
<div style="text-align:center;" class="footer-block grid__item footer-block--menu"><h2 class="footer-block__heading ">blah blah blah</h2><ul class="footer-block__details-content list-unstyled"><li>
                          
    <a href="/pages/terms-of-use" class="link link--text list-menu__item list-menu__item--link">
      terms of use
    </a>
    
  </li><li>
    
    <a href="/pages/privacy-policy" class="link link--text list-menu__item list-menu__item--link">
      privacy policy
    </a>
    
  </li><li>
    
    <a href="/pages/ccpa-opt-out" class="link link--text list-menu__item list-menu__item--link">
      Do not sell my personal information
    </a>
    
  </li>
<li class="footer-copyright">© 2023, drew wearhouse</li>

</ul></div>
{% endblock body %}
